<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">Galeria <b>Şişu Olorìn</b></a>
    </div>
    <div class="card-body">
        <h4>Fazer Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <pf-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        Login
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="row mt-4">
            <p class="mb-0">
                <a [routerLink]="['/forgot-password']" style="color: black;">
                    Não consegue acessar sua conta? <span style="color: #007bff;">Click Aqui!</span>
                </a>
            </p>
            <p class="mb-0">
                <a [routerLink]="['/register']" class="text-center" style="color: black;">
                    Não tem uma conta? <span style="color: #007bff;">Crie uma!</span>
                </a>
            </p>
        </div>
    </div>
    <!-- /.login-card-body -->
</div>
